@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">@ViewData["Saludo"]</h3>
    <img src="~/images/superman.jpg" width="150" height="150" />
    <ul class="list-group">
        @foreach (int num in Model)
        {
            <li class="list-group-item">@num</li>
        }
    </ul>
</div>
